<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pxzq.maoqiumanager.dao.UserInfoDao">

    <!-- 定义resultMap用于映射列名到Java属性 -->
    <resultMap id="userInfoResultMap" type="com.pxzq.maoqiumanager.entity.UserInfoEntity">
        <id column="ID" property="id" />
        <result column="USER_NAME" property="userName" />
        <result column="PASS_WORD" property="passWord" />
        <result column="E-MAIL" property="email" />
        <result column="USER_PERMISSION" property="userPermission" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 插入语句 -->
    <insert id="insertUserInfo" parameterType="com.pxzq.maoqiumanager.entity.UserInfoEntity">
        INSERT INTO user_info
        (USER_NAME, PASS_WORD, `E-MAIL`, USER_PERMISSION, CREATE_TIME, UPDATE_TIME)
        VALUES
            (#{userName}, #{passWord}, #{email}, #{userPermission}, #{createTime}, #{updateTime})
    </insert>

    <!-- 查询语句 -->
    <select id="selectUserInfoById" parameterType="long" resultMap="userInfoResultMap">
        SELECT * FROM user_info WHERE ID = #{id}
    </select>
    <!--    用户登录-->
    <select id="selectUserInfoByUserNameAndPassword" resultMap="userInfoResultMap">
        SELECT id, user_name, pass_word, `e-mail`, user_permission, create_time, update_time FROM user_info WHERE USER_NAME = #{userName} AND PASS_WORD = #{password}
    </select>
    <!-- 更新语句 -->
    <update id="updateUserInfo" parameterType="com.pxzq.maoqiumanager.entity.UserInfoEntity">
        UPDATE user_info
        SET
            USER_NAME = #{userName},
            PASS_WORD = #{passWord},
            `E-MAIL` = #{email},
            USER_PERMISSION = #{userPermission},
            CREATE_TIME = #{createTime},
            UPDATE_TIME = #{updateTime}
        WHERE ID = #{id}
    </update>

    <!-- 删除语句 -->
    <delete id="deleteUserInfo" parameterType="long">
        DELETE FROM user_info WHERE ID = #{id}
    </delete>

</mapper>
